Repository SOEN-341-Project/Group-P-soen341project2022, pull requests merged in 2022-03, with the labels that each got.

#74 Created CI/CD pipelines for front end
  .github/workflows/FrontendCD.yml
  .github/workflows/FrontendCI.yml
  online-shopping-website/.gitignore
  online-shopping-website/frontend/.gcloudignore
  online-shopping-website/frontend/frontend.yaml
  online-shopping-website/frontend/src/App.test.js
Labels: frontend

#77 Added conditional testing workflows to frontend
  .github/workflows/FrontendCD.yml
  .github/workflows/FrontendCI.yml
Labels: frontend

#78 Corrected entrypoint for starting server
  online-shopping-website/backend/package.json
Labels: backend

#79 bug-fix/backend-CD-fix
  .github/workflows/BackendCD.yml
  online-shopping-website/backend/package.json
Labels: bug, backend

#80 Feature/route creation
  online-shopping-website/backend/How to use the api.md
  online-shopping-website/backend/prisma/migrations/20220304003404_promote_default_false/migration.sql
  online-shopping-website/backend/prisma/migrations/20220304015838_pic_optional_item/migration.sql
  online-shopping-website/backend/prisma/migrations/20220304020530_pic_required_again/migration.sql
  online-shopping-website/backend/prisma/schema.prisma
  online-shopping-website/backend/src/helpers/convertStringToArray.ts
  online-shopping-website/backend/src/helpers/isObjectOnlyInts.ts
  online-shopping-website/backend/src/helpers/multerMiddleware.ts
  online-shopping-website/backend/src/helpers/uploadFile.ts
  online-shopping-website/backend/src/helpers/verifyBrandCreation.ts
  online-shopping-website/backend/src/helpers/verifyItemCreation.ts
  online-shopping-website/backend/src/helpers/verifyOrderCreation.ts
  online-shopping-website/backend/src/helpers/verifyUserCreation.ts
  online-shopping-website/backend/src/index.ts
  online-shopping-website/backend/src/prismaFunctions.ts
  online-shopping-website/backend/src/prismaFunctions/PrismaClient.ts
  online-shopping-website/backend/src/prismaFunctions/brandFuncs.ts
  online-shopping-website/backend/src/prismaFunctions/itemFuncs.ts
  online-shopping-website/backend/src/prismaFunctions/orderFuncs.ts
  online-shopping-website/backend/src/prismaFunctions/prismaFunctions.ts
  online-shopping-website/backend/src/prismaFunctions/userFuncs.ts
  online-shopping-website/backend/src/routes/brands.ts
  online-shopping-website/backend/src/routes/items.ts
  online-shopping-website/backend/src/routes/orders.ts
  online-shopping-website/backend/src/routes/users.ts
Labels: backend

#91 Fixed frontend path typo
  .github/workflows/FrontendCD.yml
Labels: bug, frontend

#94 Added Backend Connection URL to Frontend CD
  .github/workflows/FrontendCD.yml
Labels: frontend, backend

#98 Added .idea folder to gitignore
  .gitignore
  online-shopping-website/.gitignore
Labels: frontend, Refactoring

#95 Feature/cart backend linking and bug fix
  online-shopping-website/frontend/package-lock.json
  online-shopping-website/frontend/package.json
  online-shopping-website/frontend/src/App.test.js
  online-shopping-website/frontend/src/Components/CartPage.js
  online-shopping-website/frontend/src/Components/Products/ProductDetails.js
  online-shopping-website/frontend/src/Components/Products/ProductPage.js
  online-shopping-website/frontend/src/Components/Products/SideNav.js
Labels: bug, frontend, Epic 4 - Customer, Refactoring

#102 Feature/NavBar and ProductDetails comments
  online-shopping-website/frontend/src/Components/CartPage.js
  online-shopping-website/frontend/src/Components/NavBar.js
  online-shopping-website/frontend/src/Components/Products/ProductDetails.js
Labels: documentation

#97 Backend frontend connection
  .github/workflows/FrontendCD.yml
  online-shopping-website/backend/prisma/migrations/20220317184739_brand_description_optional/migration.sql
  online-shopping-website/backend/prisma/migrations/20220318193952_brand_name_unique/migration.sql
  online-shopping-website/backend/prisma/schema.prisma
  online-shopping-website/backend/src/helpers/verifyBrandCreation.ts
  online-shopping-website/backend/src/index.ts
  online-shopping-website/backend/src/prismaFunctions/brandFuncs.ts
  online-shopping-website/backend/src/prismaFunctions/itemFuncs.ts
  online-shopping-website/backend/src/prismaFunctions/userFuncs.ts
  online-shopping-website/backend/src/routes/brands.ts
  online-shopping-website/backend/src/routes/items.ts
  online-shopping-website/backend/src/routes/users.ts
  online-shopping-website/frontend/frontend.yaml
  online-shopping-website/frontend/package-lock.json
  online-shopping-website/frontend/src/App.js
  online-shopping-website/frontend/src/Components/Products/ProductDetails.js
  online-shopping-website/frontend/src/Components/Products/ProductGrid.js
  online-shopping-website/frontend/src/Components/Products/ProductPage.js
  online-shopping-website/frontend/src/Components/Products/SideNav.js
  online-shopping-website/frontend/src/Components/Seller/SellerProductsForm.js
  online-shopping-website/frontend/src/Components/Seller/SellerProductsPage.js
Labels: frontend, backend, Epic 2 - Seller, Epic 4 - Customer

#103 Unit tests for verifyOrderCreation
  online-shopping-website/backend/package-lock.json
  online-shopping-website/backend/package.json
  online-shopping-website/backend/src/helpers/verifyOrderCreation.ts
  online-shopping-website/backend/tests/verifyOrderCreation.test.ts
Labels: backend

#109 Fixed backend deploy with JWT
  .github/workflows/BackendCD.yml
Labels: bug, backend

#101 Cart-Cookies
  online-shopping-website/frontend/package-lock.json
  online-shopping-website/frontend/package.json
  online-shopping-website/frontend/src/App.js
  online-shopping-website/frontend/src/Components/CartPage.js
  online-shopping-website/frontend/src/Components/Products/ProductDetails.js
  online-shopping-website/frontend/src/Components/RegisterPage.js
  online-shopping-website/frontend/src/index.js
Labels: frontend, User Story

#112 Added nullable variables to error message to avoid crashes
  online-shopping-website/backend/src/routes/brands.ts
  online-shopping-website/backend/src/routes/orders.ts
Labels: bug, backend

#111 Added user cookies and authentication
  online-shopping-website/backend/prisma/migrations/20220326193326_added_diactivated_users/migration.sql
  online-shopping-website/backend/prisma/schema.prisma
  online-shopping-website/backend/src/prismaFunctions/userFuncs.ts
  online-shopping-website/backend/src/routes/items.ts
  online-shopping-website/backend/src/routes/users.ts
  online-shopping-website/frontend/frontend.yaml
  online-shopping-website/frontend/src/Components/CartPage.js
  online-shopping-website/frontend/src/Components/NavBar.js
  online-shopping-website/frontend/src/Components/RegisterPage.js
  online-shopping-website/frontend/src/Components/Seller/SellerProductsForm.js
  online-shopping-website/frontend/src/Components/Seller/SellerProductsPage.js
Labels: frontend, Epic 1 - Login/Sign up

#104 Unit Tests for verifyBrandCreation
  online-shopping-website/backend/tests/verifyBrandCreation.test.ts
Labels: backend

#113 Hot-fix: Aesthetic fixes
  online-shopping-website/backend/src/prismaFunctions/orderFuncs.ts
  online-shopping-website/backend/src/routes/orders.ts
  online-shopping-website/frontend/package-lock.json
  online-shopping-website/frontend/src/App.css
  online-shopping-website/frontend/src/Components/CartPage.js
  online-shopping-website/frontend/src/Components/Products/ProductDetails.js
  online-shopping-website/frontend/src/Components/Products/ProductGrid.js
  online-shopping-website/frontend/src/Components/Products/ProductPage.js
  online-shopping-website/frontend/src/Components/Seller/SellerProductsForm.js
  online-shopping-website/frontend/src/Components/Seller/SellerProductsPage.js
Labels: frontend, Refactoring

#119 Revert "Hot-fix: Aesthetic fixes"
  online-shopping-website/backend/src/prismaFunctions/orderFuncs.ts
  online-shopping-website/backend/src/routes/orders.ts
  online-shopping-website/frontend/package-lock.json
  online-shopping-website/frontend/src/App.css
  online-shopping-website/frontend/src/Components/CartPage.js
  online-shopping-website/frontend/src/Components/Products/ProductDetails.js
  online-shopping-website/frontend/src/Components/Products/ProductGrid.js
  online-shopping-website/frontend/src/Components/Products/ProductPage.js
  online-shopping-website/frontend/src/Components/Seller/SellerProductsForm.js
  online-shopping-website/frontend/src/Components/Seller/SellerProductsPage.js
Labels: bug, frontend, backend

#121 bug-fix/aesthetics-updated
  online-shopping-website/.idea/workspace.xml
  online-shopping-website/frontend/src/App.css
  online-shopping-website/frontend/src/Components/CartPage.js
  online-shopping-website/frontend/src/Components/Products/ProductDetails.js
  online-shopping-website/frontend/src/Components/Products/ProductGrid.js
  online-shopping-website/frontend/src/Components/Products/ProductPage.js
  online-shopping-website/frontend/src/Components/Seller/SellerProductsForm.js
  online-shopping-website/frontend/src/Components/Seller/SellerProductsPage.js
  online-shopping-website/package-lock.json
Labels: bug, frontend

#120 Added google storage key to online backend
  .github/workflows/BackendCD.yml
  online-shopping-website/backend/src/helpers/uploadFile.ts
  online-shopping-website/backend/src/routes/brands.ts
  online-shopping-website/backend/src/routes/items.ts
Labels: bug, backend

#128 Feature/updated-time and new route
  online-shopping-website/backend/prisma/migrations/20220331020452_added_created_at/migration.sql
  online-shopping-website/backend/prisma/schema.prisma
  online-shopping-website/backend/src/helpers/jwtFuncs.ts
  online-shopping-website/backend/src/prismaFunctions/orderFuncs.ts
  online-shopping-website/backend/src/prismaFunctions/prismaFunctions.ts
  online-shopping-website/backend/src/routes/orders.ts
  online-shopping-website/backend/src/routes/users.ts
  online-shopping-website/frontend/src/Components/CartPage.js
Labels: backend
