Repository SOEN-341-Project/Group-P-soen341project2022, pull requests merged in 2022-04, with the labels that each got.

#126 Hotfix: Seller number input field issues
  online-shopping-website/frontend/src/Components/Seller/SellerProductsForm.js
Labels: bug, frontend, Refactoring

#116 Refresh items in cart cookies according to active products
  online-shopping-website/frontend/src/Components/CartPage.js
Labels: frontend

#118 Seller specific product page
  online-shopping-website/frontend/src/App.css
  online-shopping-website/frontend/src/Components/CartPage.js
  online-shopping-website/frontend/src/Components/Seller/SellerProductsPage.js
Labels: frontend, Epic 2 - Seller

#123 bug-fix/css spinner overlap issue
  online-shopping-website/frontend/src/App.css
  online-shopping-website/frontend/src/Components/Products/ProductDetails.js
  online-shopping-website/frontend/src/Components/Products/ProductPage.js
  online-shopping-website/frontend/src/Components/Seller/SellerProductsForm.js
  online-shopping-website/frontend/src/Components/Seller/SellerProductsPage.js
Labels: bug, frontend, Refactoring

#125 Feature/profile page
  online-shopping-website/.idea/workspace.xml
  online-shopping-website/frontend/src/App.css
  online-shopping-website/frontend/src/App.js
  online-shopping-website/frontend/src/Components/NavBar.js
  online-shopping-website/frontend/src/Components/Profile/ProfilePage.js
  online-shopping-website/frontend/src/Components/RegisterPage.js
  online-shopping-website/frontend/src/Components/Seller/SellerProductsForm.js
Labels: frontend, Epic 1 - Login/Sign up

#132 Order bug fix and user update change
  online-shopping-website/backend/.eslintrc.js
  online-shopping-website/backend/How to use the api.md
  online-shopping-website/backend/package-lock.json
  online-shopping-website/backend/package.json
  online-shopping-website/backend/src/helpers/convertStringToArray.ts
  online-shopping-website/backend/src/helpers/isObjectOnlyInts.ts
  online-shopping-website/backend/src/helpers/jwtFuncs.ts
  online-shopping-website/backend/src/helpers/multerMiddleware.ts
  online-shopping-website/backend/src/helpers/storage.ts
  online-shopping-website/backend/src/helpers/uploadFile.ts
  online-shopping-website/backend/src/helpers/verifyItemCreation.ts
  online-shopping-website/backend/src/helpers/verifyOrderCreation.ts
  online-shopping-website/backend/src/helpers/verifyUserCreation.ts
  online-shopping-website/backend/src/index.ts
  online-shopping-website/backend/src/prismaFunctions/PrismaClient.ts
  online-shopping-website/backend/src/prismaFunctions/brandFuncs.ts
  online-shopping-website/backend/src/prismaFunctions/orderFuncs.ts
  online-shopping-website/backend/src/prismaFunctions/userFuncs.ts
  online-shopping-website/backend/src/routes/brands.ts
  online-shopping-website/backend/src/routes/items.ts
  online-shopping-website/backend/src/routes/orders.ts
  online-shopping-website/backend/src/routes/users.ts
Labels: bug, documentation, backend, Epic 1 - Login/Sign up

#134 Remove unnecessary promotion from cart
  online-shopping-website/frontend/src/Components/CartPage.js
Labels: frontend, Refactoring

#138 Set up eslint
  online-shopping-website/frontend/.eslintrc.json
  online-shopping-website/frontend/package-lock.json
  online-shopping-website/frontend/package.json
Labels: frontend, Refactoring

#142 Seller Products Form Refactoring
  online-shopping-website/frontend/.eslintrc.json
  online-shopping-website/frontend/src/App.js
  online-shopping-website/frontend/src/Components/Seller/SellerProductsForm.js
Labels: frontend, Refactoring

#143 Feature/quantity awareness
  online-shopping-website/frontend/src/Components/CartPage.js
  online-shopping-website/frontend/src/Components/Products/ProductDetails.js
Labels: frontend, Epic 4 - Customer, Refactoring

#130 Feature/view-orders page
  online-shopping-website/.idea/workspace.xml
  online-shopping-website/.vscode/launch.json
  online-shopping-website/frontend/package-lock.json
  online-shopping-website/frontend/src/App.css
  online-shopping-website/frontend/src/App.js
  online-shopping-website/frontend/src/App.test.js
  online-shopping-website/frontend/src/Components/Browse/CartPage.js
  online-shopping-website/frontend/src/Components/Browse/Products/ProductDetails.js
  online-shopping-website/frontend/src/Components/Browse/Products/ProductGrid.js
  online-shopping-website/frontend/src/Components/Browse/Products/ProductPage.js
  online-shopping-website/frontend/src/Components/Browse/Products/SearchBar.js
  online-shopping-website/frontend/src/Components/Browse/Products/SideNav.js
  online-shopping-website/frontend/src/Components/NavBar.js
  online-shopping-website/frontend/src/Components/Profile/ProfilePage.js
  online-shopping-website/frontend/src/Components/Profile/RegisterPage.js
  online-shopping-website/frontend/src/Components/Profile/ViewOrders.js
  online-shopping-website/frontend/src/Components/Seller/SellerProductsForm.js
  online-shopping-website/frontend/src/Components/Seller/SellerProductsPage.js
  online-shopping-website/package-lock.json
Labels: frontend, User Story, Epic 2 - Seller, Epic 3 - Admin, Epic 4 - Customer

#150 security fix
  online-shopping-website/frontend/src/Components/Browse/CartPage.js
Labels: frontend, Epic 4 - Customer

#151 refactoring/sidenav-dropdown
  online-shopping-website/frontend/src/Components/Browse/Products/SideNav.js
Labels: frontend, Refactoring

#149 Made route so that we can find promoted items
  online-shopping-website/backend/How to use the api.md
  online-shopping-website/backend/src/prismaFunctions/itemFuncs.ts
  online-shopping-website/backend/src/routes/items.ts
Labels: backend, Epic 2 - Seller

#148 Navbar Additional Fixes
  online-shopping-website/frontend/src/App.css
  online-shopping-website/frontend/src/App.js
  online-shopping-website/frontend/src/Components/NavBar.js
  online-shopping-website/frontend/src/Components/Profile/ProfilePage.js
  online-shopping-website/frontend/src/tests/CartPage.test.js
Labels: frontend, Epic 2 - Seller, Refactoring

#156 Bug/deleted items dissapear from order fix
  online-shopping-website/backend/prisma/migrations/20220408192713_item_active_field/migration.sql
  online-shopping-website/backend/prisma/migrations/20220409150027_everything_is_good_hopefully/migration.sql
  online-shopping-website/backend/prisma/schema.prisma
  online-shopping-website/backend/src/prismaFunctions/brandFuncs.ts
  online-shopping-website/backend/src/prismaFunctions/itemFuncs.ts
  online-shopping-website/backend/src/routes/brands.ts
  online-shopping-website/backend/src/routes/items.ts
  online-shopping-website/frontend/src/Components/NavBar.js
  online-shopping-website/frontend/src/tests/CartPage.test.js
Labels: bug, backend

#158 Removed alerts and console.log()
  online-shopping-website/frontend/src/Components/Browse/CartPage.js
  online-shopping-website/frontend/src/Components/Browse/Products/ProductDetails.js
  online-shopping-website/frontend/src/Components/Browse/Products/ProductPage.js
  online-shopping-website/frontend/src/Components/NavBar.js
  online-shopping-website/frontend/src/Components/Profile/RegisterPage.js
  online-shopping-website/frontend/src/Components/Seller/SellerProductsPage.js
Labels: frontend, Refactoring

#159 Displays message when add to cart is disabled for non-customers
  online-shopping-website/frontend/src/Components/Browse/Products/ProductDetails.js
Labels: frontend, Refactoring

#166 Fixed crashing issue on promoted items
  online-shopping-website/backend/src/routes/items.ts
Labels: bug, backend

#167 Add promoted toggle
  online-shopping-website/backend/src/prismaFunctions/itemFuncs.ts
  online-shopping-website/frontend/src/Components/Seller/SellerProductsForm.js
Labels: frontend, Epic 2 - Seller

#157 feature/promotions-carousel
  online-shopping-website/.idea/workspace.xml
  online-shopping-website/frontend/package-lock.json
  online-shopping-website/frontend/package.json
  online-shopping-website/frontend/src/App.css
  online-shopping-website/frontend/src/Components/Browse/Products/ProductGrid.js
  online-shopping-website/frontend/src/Components/Browse/Products/ProductPage.js
  online-shopping-website/frontend/src/Components/Browse/Products/Slideshow.js
Labels: frontend, User Story, Epic 4 - Customer

#165 Fixed password register issue and address field inconsistencies
  online-shopping-website/frontend/src/Components/NavBar.js
  online-shopping-website/frontend/src/Components/Profile/RegisterPage.js
Labels: bug, frontend, Epic 1 - Login/Sign up, Refactoring

#169 Browsing style changes and refactoring
  online-shopping-website/frontend/src/App.css
  online-shopping-website/frontend/src/Components/Browse/Products/ProductGrid.js
  online-shopping-website/frontend/src/Components/Browse/Products/SearchBar.js
  online-shopping-website/frontend/src/Components/Browse/Products/SideNav.js
Labels: frontend, Refactoring

#154 Admin Page
  online-shopping-website/frontend/package-lock.json
  online-shopping-website/frontend/src/App.css
  online-shopping-website/frontend/src/App.js
  online-shopping-website/frontend/src/Components/Browse/Products/SearchBar.js
  online-shopping-website/frontend/src/Components/Browse/Products/SideNav.js
  online-shopping-website/frontend/src/Components/NavBar.js
  online-shopping-website/frontend/src/Components/Profile/AdminPage.js
  online-shopping-website/frontend/src/Components/Profile/ViewOrders.js
  online-shopping-website/frontend/src/Components/Seller/SellerProductsPage.js
Labels: frontend, Epic 3 - Admin

#170 Refresh cart item properties
  online-shopping-website/frontend/src/Components/Browse/CartPage.js
Labels: frontend, Refactoring

#171 Persist cookies between visits
  online-shopping-website/frontend/src/App.js
  online-shopping-website/frontend/src/Components/Browse/CartPage.js
  online-shopping-website/frontend/src/Components/Browse/CookieAge.js
  online-shopping-website/frontend/src/Components/Browse/Products/ProductDetails.js
  online-shopping-website/frontend/src/Components/NavBar.js
  online-shopping-website/frontend/src/Components/Profile/AdminPage.js
  online-shopping-website/frontend/src/Components/Profile/ProfilePage.js
  online-shopping-website/frontend/src/Components/Profile/ViewOrders.js
  online-shopping-website/frontend/src/Components/Seller/SellerProductsPage.js
  online-shopping-website/frontend/src/index.js
Labels: frontend

#172 Fixed NavBar user menu links
  online-shopping-website/frontend/src/Components/NavBar.js
Labels: bug, frontend

#174 Fixed eslint warnings and generated reports
  online-shopping-website/backend/.eslintrc.js
  online-shopping-website/backend/tests/eslint-report.txt
  online-shopping-website/backend/tests/verifyBrandCreation.test.ts
  online-shopping-website/backend/tests/verifyOrderCreation.test.ts
  online-shopping-website/backend/tests/verifyUserCreation.test.ts
  online-shopping-website/frontend/.eslintrc.json
  online-shopping-website/frontend/src/App.test.js
  online-shopping-website/frontend/src/Components/Browse/CartPage.js
  online-shopping-website/frontend/src/Components/Browse/Products/ProductDetails.js
  online-shopping-website/frontend/src/Components/Browse/Products/ProductGrid.js
  online-shopping-website/frontend/src/Components/Browse/Products/SearchBar.js
  online-shopping-website/frontend/src/Components/Browse/Products/SideNav.js
  online-shopping-website/frontend/src/tests/eslint-report.txt
Labels: documentation, frontend, backend, Refactoring

#173 Made all variables camel case
  online-shopping-website/backend/src/routes/users.ts
Labels: backend, Refactoring

#177 Frontend Unit Tests
  online-shopping-website/frontend/src/App.test.js
  online-shopping-website/frontend/src/tests/App.test.js
  online-shopping-website/frontend/src/tests/CartPage.test.js
  online-shopping-website/frontend/src/tests/ProductGrid.test.js
  online-shopping-website/frontend/src/tests/__snapshots__/ProductGrid.test.js.snap
Labels: frontend

#175 Added consistent naming convention to frontend
  online-shopping-website/frontend/src/Components/Browse/CartPage.js
  online-shopping-website/frontend/src/Components/Browse/Products/ProductDetails.js
  online-shopping-website/frontend/src/Components/Browse/Products/SearchBar.js
  online-shopping-website/frontend/src/Components/Browse/Products/SideNav.js
  online-shopping-website/frontend/src/Components/NavBar.js
  online-shopping-website/frontend/src/Components/Profile/AdminPage.js
  online-shopping-website/frontend/src/Components/Profile/ProfilePage.js
  online-shopping-website/frontend/src/Components/Profile/RegisterPage.js
  online-shopping-website/frontend/src/Components/Profile/ViewOrders.js
  online-shopping-website/frontend/src/Components/Seller/SellerProductsPage.js
  online-shopping-website/frontend/src/tests/eslint-report.txt
Labels: documentation, frontend, Refactoring

#178 Updated eslint reports
  online-shopping-website/frontend/src/tests/eslint-report.txt
Labels: documentation
